body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}
.weather-icon {
    font-size: 2em;
    margin: 10px 0;
}

#weather-app {
    margin: 20px auto;
}

#weather-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.weather-day {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 150px;
    margin: 10px;
    padding: 10px;
}

.weather-day h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.weather-day p {
    margin: 5px 0;
}
